<div class="categories">
  <% if @article.categories.any? %>
    <p><%= render @article.categories %></P>
  <% end %>
</div>

<div class="user">
  <div class="media-left media-top">
    <div class="media-object">
      <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
    </div>
  </div>

  <div class="media-body">
    <div class="media-heading">
      <%= link_to @article.user.username, user_path(@article.user) %><br>
      this will be PR of user.
    </div>
  </div>
  <div class="body">
    <%= simple_format(@article.description) %>
  </div>
</div>

<div class="article-actions">
  <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
    <%= link_to "記事を編集する", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
    <%= link_to "記事を削除する", article_path(@article), method: :delete,
                                        data: { confirm: "本当に記事を削除しますか?"},
                                        class: "btn btn-xs btn-danger" %>
  <% end %>
  <%= link_to "View all articles", articles_path, class: "btn btn-xs btn-success" %>
</div>